

body {
    /*font-size: 0.7vw;*/
    /*font-family: Verdana, serif;*/
    background-color: #afafaf;
    color: #202020;
}

footer {
    background-color: #afafaf;
}



/*footer {*/
    /*line-height: 1.8;*/
    /*text-align: center;*/
    /*padding: 50px 0;*/
    /*color: #999;*/
/*}*/
